header{
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--header_height);
        // MENU
        .menu{
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 700;
            @media (max-width: 768px) {
               display: none;
            }
        }
    }
}